<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<body>
<div th:fragment="copy">
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="userFormUpdate" class="text-center fw-bold">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="e">Edit user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body col-6 offset-3">
                            <div class="mb-3">
                                <label for="notEdit">ID</label>
                                <input class="form-control" disabled type="text" name="idShow" id="notEdit">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" readonly type="hidden" name="id" id="transmissionToJS">
                            </div>

                            <div class="mb-3">
                                <label for="nameEditUser" class="form-label">First name</label>
                                <input class="form-control" type="text" name="name" id="nameEditUser">
                            </div>

                            <div class="mb-3">
                                <label for="surNameEditUser" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="surNameEditUser" name="surName">
                            </div>


                            <div class="mb-3">
                                <label for="ageEditUser" class="form-label">Age</label>
                                <input type="number" class="form-control" id="ageEditUser" name="age">
                            </div>

                            <div class="mb-3">
                                <label for="emailEditUser" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailEditUser" name="email">
                            </div>

                            <div class="mb-3">
                                <label for="passwordConfirmEditUser" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordConfirmEditUser"
                                       name="passwordConfirm">
                            </div>

                            <div>
                                <input type="hidden" class="form-control" readonly id="passwordEditUser"
                                       name="password">
                            </div>

                            <label for="roleEditUser1" class="form-label">Role</label>
                            <select class="form-select mb-3" size="2" aria-label="size 2 select example"
                                    id="roleEditUser1" multiple  name="roles">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>