<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en" >
<body>
<div th:fragment="copy">
    <div class="row text-bg-dark pt-3 m-0 align-items-end " style="color: papayawhip">
        <div class="col-6 text-start">
            <blockquote class="blockquote nav-item m-0 pb-3">
                <strong sec:authentication="name"></strong> with roles:
                    <span sec:authorize="hasRole('ROLE_ADMIN')">ADMIN </span>
                    <span sec:authorize="hasRole('ROLE_USER')">USER</span>
            </blockquote>
        </div>
        <div class="col-6 text-end">
            <div class="pb-3">
                <a href="/logout" style="text-decoration:none;color: gray">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>