<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<body>
<div th:fragment="copy">
    <div class="col-12 bg-light border border-bottom-0 py-3">
        <h5 class="ps-3 m-0 first-table">All users</h5>
    </div>
    <div class="col-12 bg-body border px-3 py-3">


                <table class="table caption-top table-striped table-hover bg-body table-borderless border-top">
                    <caption class="p-0"></caption>
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>

        <div th:insert="modals/modal_delete_user :: copy"></div>
        <!-- ----- start after finished should transfer to modal_update_user.html ------ -->
        <div th:insert="modals/modal_update_user :: copy"></div>
        <!-- ----- end after finished should transfer to modal_update_user.html -------- -->




    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="/js/fillUserTable_forAdmin.js"></script>
</body>
</html>
