<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update employee</title>
</head>
<body>
<form action="#" th:action="@{/employee-update}" th:object="${employee}" method="post">
  <input readonly th:field="*{id}" id="id">
  <br><br>
  <label for="firstName">First name</label>
  <input type="text" th:field="*{name}" id="firstName" placeholder="Write first name">
  <br><br>
  <label for="surName">Surname</label>
  <input type="text" th:field="*{surName}" id="surName" placeholder="Write surname">
  <br><br>
  <label for="department">Department</label>
  <input type="text" th:field="*{department}" id="department" placeholder="Write department">
  <br><br>
  <label for="salary">Salary</label>
  <input type="text" th:field="*{salary}" id="salary" placeholder="Write salary">
  <br><br>
  <label for="password">Password</label>
  <input type="text" th:field="*{passwordConfirm}" id="password" placeholder="Write salary">
  <br><br>
  <input type="submit" value="Update">
</form>
</body>
</html>