<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div th:each="employee : ${employee}">
    <form action="#" th:action="@{/admin/employee-update}" th:object="${employee}" method="post">

        <input type="hidden" th:field="*{id}">
        <br><br>

        <label for="firstName">First name</label>
        <input type="text" th:field="*{name}" id="firstName" placeholder="Write first name">
        <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></span>

        <br><br>

        <label for="surName">Surname</label>
        <input type="text" th:field="*{surName}" id="surName" placeholder="Write surname">
        <div style="color:red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}" class="italic">Error</div>
        <br><br>

        <label for="department">Department</label>
        <input type="text" th:field="*{email}" id="department" placeholder="Write department">
        <span style="color:red" th:if="${#fields.hasErrors('department')}" th:errors="*{email}">Error</span>
        <br><br>

        <label for="salary">Salary</label>
        <input type="text" th:field="*{age}" id="salary" placeholder="Write salary">
        <span style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{age}">Error</span>
        <br><br>

        <label for="password">Password</label>
        <input type="password" th:field="*{passwordConfirm}" id="password" placeholder="Write password">
        <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
        <input type="hidden" th:field="*{password}">
        <br><br>

        <div>
            <div th:each="role : ${roleSet}">
                <input type="radio" th:field="*{roles}" th:value="${role.id}"/>
                <label th:text="${role.name}">Something is wrong!</label>
            </div>
            <span style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Error</span>
        </div>



        <input type="submit" value="Update">
        <button type="submit">Submit</button>
    </form>
</div>


<br><br>
<script src="/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
