<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Employees</title>
</head>
<body>

<div th:switch="${employees}">
  <h2 th:case="null">No users yet!</h2>
  <div th:case="*" >
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Role(s)</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="emp : ${employees}">
        <td th:text="*{emp.id}"></td>
        <td th:text="*{emp.name}"></td>
        <td th:text="*{emp.surName}"></td>
        <td th:text="*{emp.department}"></td>
        <td th:text="*{emp.salary}"></td>
        <td th:text="*{emp.toString()}"></td>
        <td th:text="*{emp.password}"></td>

        <td>
          |<button
                th:href="@{/admin/employee-update/{id}(id=${emp.id})}"
                onclick="window.location.href=(this.getAttribute('href'))">Update</button>


          <button
            th:href = "@{/admin/employee-delete/{id}(id=${emp.id})}"
            onclick="window.location.href=(this.getAttribute('href'))">Delete</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <br>
  <input type="button" value="Add" onclick="window.location.href='/admin/employee-create'"/>
  <br> <br>
</div>
<div th:insert="footer :: copy"></div>
</body>
</html>