<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en" >
<body>
<div th:fragment="copy">
    <div class="row text-bg-dark pt-2 m-0" style="color: papayawhip">
        <div class="col-6 align-text-bottom">
            <blockquote class="blockquote nav-item align-text-bottom">
                <p class="bottom-100"><strong sec:authentication="name"></strong> with roles:
                    <span sec:authorize="hasRole('ROLE_ADMIN')">ADMIN </span>
                    <span sec:authorize="hasRole('ROLE_USER')">USER</span></p>
        </blockquote>

        </div>
        <div class="col-6 text-end align-text-bottom">
            <form th:action="@{/logout}" method="POST">
                <h6><a href="/logout" style="text-decoration:none;color: gray">Logout</a></h6>
            </form>
        </div>
    </div>
</div>
</body>
</html>