<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Profile</title>
</head>
<body>
<h1><span sec:authentication="name"></span>, welcome spring boot security page!</h1>
<br><br>


<h2>Your profile information</h2>


<table>
    <tbody>
    <tr>
        <td>Id: </td>
        <td colspan="2" th:text="${employees.id}"></td>
    </tr>
    <tr>
        <td>name: </td>
        <td colspan="2" th:text="${employees.name}"></td>
    </tr>
    <tr>
        <td>surname: </td>
        <td colspan="2" th:text="${employees.surName}"></td>
    </tr>
    <tr>
        <td>department: </td>
        <td colspan="2" th:text="${employees.department}"></td>
    </tr>
    <tr>
        <td>salary: </td>
        <td colspan="2" th:text="${employees.salary}"></td>
    </tr>
    <tr>
        <td>roles: </td>
        <td th:text="${employees.toString()}"></td>
    </tr>
    </tbody>
</table>

<br><br>

<div th:insert="footer :: copy"></div>
</body>
</html>